.home-banner{
	border-radius: 15px;
}
.shop-heading-text{
	font-weight: 400;
}
.shop-head-dv{
	padding: 20px 0px 10px 0px;
}
.logo-shop{
	border-radius: 15px;
}
.slider-home{
	padding: 12px 0px 0px 0px;
}
/* landing page  */
.landing-head-dv{
	padding: 18px 0px;
}
.text-heading-landing{
	font-weight: 400;
	line-height: 1.4;
	font-size: 21px;
}
.name-text{
	color: #45D06E;
	font-weight: 600;
}
.grid-box-landing-pg{
	border-radius: 5px;
	padding: 10px;
	/* margin-bottom: 13px; */
	min-height: 130px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.grid-one{
	background: #FB982E;
}
.grid-two{
	background: #157F6E;
}
.grid-three{
	background: #C13B3B;
}
.grid-four{
	background: #7985CB;
}
.number-text-grid{
	color: #fff;
}
.grid-one-sub-text{
	color: #FFE0BF;
}
.grid-two-sub-text{
	color: #9EFFEF;
}
.grid-three-sub-text{
	color: #F9C8C8;
}
.grid-four-sub-text{
	color: #E2E5FC;
}
.content-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}
.small-text-common{
	font-size: 14px;
	font-weight: 400;
}
.box-delivery{
	margin: 7px 0px;
	background: #0F3F54;
	border-radius: 10px;
}
.box-delivery svg{
	width: 100% ;
}
.latest-order-dv{
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
	padding: 10px;
	border-radius: 40px;
	margin: 7px 0px;
	position: relative;
}
.latest-order-image{
	width: 55px;
}
.order-text{
	font-weight: 500;
	font-size: 15px;
	color: #252B5C;
}
.order-text-dv{
	padding-left: 17px;
}
.latest-order-dv a{
	display: flex;
	align-items: center;
}
.latest-order-dv a:hover{
	text-decoration: none;
}
.arrow-dv svg{
	background: #45D06E;
	color: #ffff;
	padding: 7px;
	border-radius: 50%;
}
.arrow-dv {
	display: table;
	margin-left: auto;
}
.latest-heading-text-dv{
	margin: 9px 0px;
}
.latest-order-heading{
	font-size: 21px;
}
.notification-dot{
	background: #E10303;
	padding: 5px;
	border-radius: 50%;
	position: absolute;
	right: 12px;
	top: 0px;
}
.navbar-main{
	display: flex;
	align-items: center;
}
.page-name{
	font-weight: 500;
	font-size: 17px;
	color: #252B5C;
}
.navbar-main .back-btn svg{

}
.category-image{
	border-radius: 50%;
}
.navbar-main .back-btn{
	background: #F6F6F6;
	padding: 15px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-name-dv{
	padding-left: 28px;
}
.category-box-dv{
	margin: 6px 0px;
}
.category-name{
	color: #1F2C34;
	font-size: 14px;
}
/* change password page  */
.form-change-password input{
	background: #EFEEEE;
	padding: 13px 20px;
	border-radius: 14px;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.form-change-password input:focus{
	background: #EFEEEE;
}
.form-change-password input::placeholder{
	font-size: 13px;
	font-weight: 400;
	color: #252B5C;
}
.form-change-password{
	margin-top: 35px;
}
.save-btn-change-passwrd{
	width: 100% !important;
	border-radius: 18px !important;
}









































